/* General body styling */
body {
   padding: 40px;
   font-family: 'Open Sans', sans-serif;
   background-color: #f4f4f4;
}

/* Section styling */
section {
   width: 910px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
   gap: 20px; 
   grid-template-rows: auto; 
}

/* Heading styling */
header {
   grid-column: span 3; /* Ensure heading spans all 3 columns */
   text-align: center;
   margin-bottom: 20px;
}

h1 {
   font-size: 36px;
   font-weight: 800;
   color: black; /* Ensure heading stays black */
}

/* Column styling */
.column {
   background-color: white; /* Keep columns white */
   padding: 20px;
   box-shadow: rgba(47, 59, 64, 0.35) 0px 4px 10px; /* Add box-shadow */
   box-sizing: border-box;
   text-align: center;
   width: 100%;
   border-radius: 5px; /* Add rounded corners */
}

/* Highlighting Standard plan box */
.column.featured {
   background-color: #2F4F4F; 
   color: white; /* White text */
   border: 2px solid #4B0082; 
   box-shadow: rgba(47, 59, 64, 0.35) 0px 8px 15px; 
   transform: scale(1.05); 
   padding: 20px; 
}

.column.featured ul li {
   background-color: transparent; 
   color: white; /* White text */
}

.column.featured ul li span {
   color: white; 
}


p.price {
   font-size: 36px;
   font-weight: 600;
   margin-top: 0;
}


p.price.free {
   color: black;
   background-color: #5BB189; 
   padding: 10px 0;
   margin-bottom: 20px;
}

p.price.standard {
   color: white;
   background-color: #4B0082; 
   padding: 10px 0;
   margin-bottom: 20px;
   font-weight: 800;
}

p.price.professional {
   color: white;
   background-color: #EC632A; 
   padding: 10px 0;
   margin-bottom: 20px;
}

/* List styling */
.column ul {
   list-style-type: none;
   padding: 0;
   margin: 20px 0;
}


.column ul li:nth-child(even) {
   background-color: rgba(47, 59, 64, 0.15); 
   padding: 5px;
}


.column a {
   display: inline-block;
   text-decoration: none;
   background-color: #3A6BA5; 
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: center;
   font-weight: 600;
   margin-top: 20px;
   max-width: 200px; 
   margin-left: auto; /* Center align the button */
   margin-right: auto; /* Center align the button */
}


.column a:hover {
   background-color: #437CBF; 
}

.column.featured a {
   background-color: #3A6BA5; 
   color: white; 
}

.column.featured a:hover {
   background-color: #437CBF; 
}

#confidence {
   background-color: #2F4F4F;
   padding: 20px;
   color: white;
   text-align: center;
   margin-top: 40px;
   width: 910px; /* Set width to 910px */
   margin-left: auto; /* Center the section */
   margin-right: auto; /* Center the section */
}


#confidence ul {
   list-style: none;
   padding: 0;
}


#confidence ul li {
   margin: 10px 0;
   padding-left: 30px;
   background: url('checkmark.svg') no-repeat left center;
   background-size: 24px;
}
